RewriteEngine On
RewriteBase /sistem_desa_noelbaki/berlangganan/

# Menghapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Arahkan ke halaman 404 jika file atau folder tidak ditemukan
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ login.php [L]

# Menangani kesalahan 404 dengan halaman khusus
ErrorDocument 404 /404.php
